%aside.main-aaside
  .main-aaside__background
    .main-aaside__background__phone
      .main-aaside__background__phone__download
        .main-aaside__background__phone__download__text1 \スマホでかんたんフリマアプリ/
        .main-aaside__background__phone__download__text2 今すぐに無料ダウンロード!
        .main-aaside__background__phone__download__text3
          =image_tag"app-store.svg",class: 'main-aaside__background__phone__download__text3__apple'
          =image_tag"google-play.svg",class: 'main-aaside__background__phone__download__text3__google'
      =image_tag"phone.png",class: 'main-aaside__background__phone__image'