.a-footer
  .a-footer__content
    .a-footer__content__privacy
      .a-footer__content__privacy__text1 プライバシーポリシー
      .a-footer__content__privacy__text2 メルカリ利用規約
      .a-footer__content__privacy__text3 特定商取引に関する表記
    = link_to root_path do
      = image_tag"exhibit_logo_gray.svg",class: 'a-footer__content__logo'
    .a-footer__content__text © 2019 Mercari