%aside.main-aside
  .main-aside__background
    .main-aside__background__phone
      .main-aside__background__phone__download
        .main-aside__background__phone__download__text1 スマホでかんたんフリマアプリ
        .main-aside__background__phone__download__text2 今すぐに無料ダウンロード!
        .main-aside__background__phone__download__text3
          =image_tag"icon.png",class: 'main-aside__background__phone__download__text3__icon'
          =image_tag"app-store.svg",class: 'main-aside__background__phone__download__text3__apple'
          =image_tag"google-play.svg",class: 'main-aside__background__phone__download__text3__google'
      =image_tag"phone.png",class: 'main-aside__background__phone__image'