- @categories.each do |category|
  .main-content__items
    .main-content__items__title
      .main-content__items__title__text
        = category.name
      .main-content__items__title__more 
        .main-content__items__title__more__text もっとみる
        =fa_icon "chevron-right",class: 'main-content__items__item__more__icon'     
    .main-content__items__item
      .main-content__items__item__content
        .main-content__items__item__content__box
          -# アイテムを描画
          = render "shared/items"