%footer.main-footer
  .main-footer__information
    .main-footer__information__about
      .main-footer__information__about__title メルカリについて
      .main-footer__information__about__detail
        .main-footer__information__about__detail__company 会社概要（運営会社）
        .main-footer__information__about__detail__jobs 採用情報
        .main-footer__information__about__detail__news プレスリリース
        .main-footer__information__about__detail__blog 公式ブログ
        .main-footer__information__about__detail__guideline メルカリロゴ利用ガイドライン
        .main-footer__information__about__detail__sns
          =fa_icon "twitter",class: 'main-footer__information__about__detail__sns__twitter'
          =fa_icon "facebook-square",class: 'main-footer__information__about__detail__sns__facebook'
    .main-footer__information__help
      .main-footer__information__help__title ヘルプ＆ガイド
      .main-footer__information__help__detail
        .main-footer__information__help__detail__helpcenter メルカリガイド
        .main-footer__information__help__detail__rakuraku らくらくメルカリ便
        .main-footer__information__help__detail__yuyu ゆうゆうメルカリ便
        .main-footer__information__help__detail__rakurakubig 大型メルカリ便
        .main-footer__information__help__detail__car 車体取引ガイド
        .main-footer__information__help__detail__description メルカリあんしん・あんぜん宣言！
        .main-footer__information__help__detail__authenticity 偽ブランド品撲滅への取り組み
        .main-footer__information__help__detail__box メルカリボックス
    .main-footer__information__privacy
      .main-footer__information__privacy__title プライバシーと利用規約
      .main-footer__information__privacy__detail
        .main-footer__information__privacy__detail__leftside
          .main-footer__information__privacy__detail__leftside__privacy プライバシーポリシー
          .main-footer__information__privacy__detail__leftside__tos メルカリ利用規約
          .main-footer__information__privacy__detail__leftside__tosphone あんしんスマホサポート制度に関する利用特約
          .main-footer__information__privacy__detail__leftside__compliance コンプライアンスポリシー
        .main-footer__information__privacy__detail__rightside
          .main-footer__information__privacy__detail__rightside__data 個人データの安全管理に係る基本方針
          .main-footer__information__privacy__detail__rightside__tokutei 特定商取引に関する表記
          .main-footer__information__privacy__detail__rightside__kessai 資金決済法に基づく表示
          .main-footer__information__privacy__detail__rightside__safety 法令順守と犯罪抑止のために
    .main-footer__information__countries
      .main-footer__information__countries__title 国
      .main-footer__information__countries__detail
        .main-footer__information__countries__detail__jp 日本
        .main-footer__information__countries__detail__us United States
  .main-footer__copyright
    =image_tag"logoBW.svg",class: 'main-footer__copyright__image'
    .main-footer__copyright__text © 2019 Mercari