.mono-footer
  .mono-footer__content
    .mono-footer__content__privacy
      .mono-footer__content__privacy__text1 プライバシーポリシー
      .mono-footer__content__privacy__text2 メルカリ利用規約
      .mono-footer__content__privacy__text3 特定商取引に関する表記
    = link_to root_path do
      = image_tag"exhibit_logo_gray.svg",class: 'mono-footer__content__logo'
    .mono-footer__content__text © 2019 Mercari