.l-contenth
  %section.l-chapter-container
    .chapter-head
      %pプロフィール
    .form
      = form_for @profile do |f|
        .form__upper
          %img{height: "60", src:"//static.mercdn.net/images/member_photo_noimage_thumb.png",width: "60"}/
          = f.text_field :introduction,class:'input-default',placeholder:'例)AYA☆セール中'
        .form__lower
          = f.text_area :introduction,class:'textarea-dault',placeholder:'ko'
          = f.submit '変更する',class:'form-submit btn-default'