*{
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.exhibit {
  background: #f5f5f5;
  &__header {
    height: 128px;
    overflow: hidden;
    &__logo {
      height: 49px;
      width: 185px;
      margin: 40px auto 0;
    }
  }
  &__main {
    &__box {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__title {
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        font-weight: bold;
        color: #333;
      }
      &__image {
        padding: 40px;
        border-top: 0.4mm solid #f5f5f5;
        &__title {
          font-size: 16px;
          color: #333;
          font-weight: bold;
        }
        &__icon {
          background: #ea352d;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
          vertical-align: top;
        }
        &__tips {
          margin: 8px 0 0;
          line-height: 1.5;
          color: #333;
          font-size: 14px;
        }
        &__form {
          // float: left;
          width: 100%;
          margin-top: 15px;
          padding: 40px;
          position: relative;
          min-height: 162px;
          border: 1px dashed #ccc;
          text-align: center;
      
          background: #f5f5f5;
          cursor: pointer;
          &__input {
            display: none;
          }
          &__tips {
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
            transform: translate(0, -50%);
            pointer-events: none;
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: monospace;
          }
        }
      }
    }
  }
  &__footer {
    height: 220px;
    width: 456px;
    margin: 0 auto;
    padding: 40px 0;
    &__navi {
      &__list {
        display: flex;
        justify-content: space-around;
        &__ele {
          color: #333;
          font-size: 12px;
          text-decoration: none;
          &:hover {
            border-bottom: 0.1mm solid gray;
            color: gray;
          }
        }
      }
    }
    &__logo {
      height: 65px;
      width: 80px;
      margin: 40px auto 0;
    }
    &__copylight {
      margin: 8px 0 0;
      &__text {
        text-align: center;
        font-size: 13px;
      }
    }
  }
}