.item {
  width: 700px;
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  &__title {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  &__content {
    margin: 16px 0 0;
    &__table {
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      &__tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
      }
      &__tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      &__th {
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
      }
      &__td {
        width: 61%;
        background: #fff;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        &__link {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__box {
        &__icon {
          margin: 8px 0 0 0;
          display: inline-block;
          height: 15px;
          width: 45px;
        }
        &__value {
          margin: 0;
          vertical-align: middle;
        }
      }
    }
  }
  &__fee {
    margin: 24px 0 0;
    text-align: center;
    &__price {
      margin: 0 12px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    &__tax {
      font-size: 10px;
    }
    &__option {
      font-size: 16px;
    }
  }
  &__btn {
    &__possible {
      font-size: 24px;
      line-height: 60px;
      display: block;
      margin-top: 16px;
      background: #ea352d;
      color: #fff;
      text-align: center;
      font-weight: 600;
      transition: all ease-out .3s;
      &:hover {
        background: #e72015;
      }
    }
  }
  &__description {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 18px;
    &__text {
      white-space: pre-wrap;
    }
  }
  &__footer {
    margin: 16px 0 0;
    font-size: 0;
    &__left {
      float: left;
      &__like {
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        &__text {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
        &__count {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
      &__report {
        display: inline-block;
        margin: 0 0 0 16px;
        color: #333;
        background: #f5f5f5;
        padding: 8px 16px;
        border-radius: 40px;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        &:hover {
          color: rgb(115, 115, 115);
          background: rgba(#f5f5f5, 0.8)
        }
        &__text {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
    }
    &__right {
      margin: 8px 0 0;
      float: right;
      &__safe {
        display: inline-block;
        color: #0099e8;
        &__text {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
          &:hover {
            color: rgba(#0099e8, 0.8);
          }
        }
      }
    }
  }
}


.message {
  width: 700px;
  margin: 8px auto;
  &__content {
    background: #fff;
    &__chat {
      padding: 24px;
      &__box {
        margin: 60px 0 0;
        &__user {
          float: left;
          position: relative;
          top: -20px;
          color: #333;
          &__frame {
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            background: #eee;
            text-align: center;
            &__image {
              width: 32px;
              height: 32px;
              margin: 10px 0 0;
              vertical-align: bottom;
            }
            &__name {
              width: 600px;
              min-width: 600px;
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 56px;
              max-width: 100%;
              height: 1.2em;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 600;
              text-align: left;
            }
          }
        }
        &__comment {
          width: 600px;
          float: right;
          position: relative;
          padding: 16px;
          background: #eef0f4;
          border-radius: 15px;
          line-height: 1.5;
          word-break: break-all;
          &__text {
          }
          &__time {
            margin: 8px 0 0;
            &__ago {
              vertical-align: middle;
              color: #aaa;
            }
          }
        }
      }
    }
    &__form {
      padding: 24px;
      background: #fff;
      &__notes {
        padding: 8px;
        font-size: 14px;
        background: #fff6de;
      }
      &__text-field {
        margin: 8px 0 0;
        background: #f5f5f5;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        line-height: 1.5;
      }
      &__submit {
        display: block;
        width: 100%;
        margin: 8px 0 0;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
      }
    }
  }
}
// 最初のメッセージボックスだけmarginを小さくする
.chat__box__top {
  margin: 1.5em 0 0;
}


.navi-link {
  margin: 24px auto 0;
  width: 700px;
  &__prev {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: left;
    padding: 0 0 0 14px;
    text-align: left;
  }
  &__next {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: right;
    padding: 0 14px 0 0;
    text-align: right;
  }
  &__link {
    color: #0099e8;
    &:hover {
      text-decoration: underline;
      color: rgba(#0099e8, 0.5);
    }
  }
}

.media {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  &__text {
    text-align: center;
  }
  &__box {
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
    &__ele {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      &__box {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        line-height: 44px;
        color: #fff;
        font-size: 26px;
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        position: relative;
      }
    }
  }
}
.media-facebook {
  background: #385185;
}
.media-twitter {
  background: #5d9dc9;
}
.media-pinterest {
  background: #aa262a;
}

.other-items {
  width: 700px;
  margin: 0 auto;
  &__name {
    font-size: 22px;
    margin: 24px 0 8px;
    line-height: 1.4;
    font-weight: bold;
    &__link {
      color: #0099e8;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__box {
    width: auto;
    margin: 0 auto;
    &__item-box {
      width: 210px;
      margin: 0 20px 20px 0;
      position: relative;
      float: left;
      background: #fff;
      &__link {
        display: block;
        color: #333;
      }
      &__frame {
        width: 210px;
        height: 210px;
        overflow: hidden;
        position: relative;
        padding: 0 0 100%;
        &__image {
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
        }
      }
      &__detail {
        padding: 16px;
        height: 110px;
        &__title {
          overflow: hidden;
          position: relative;
          font-weight: 400;
          height: 3em;
          line-height: 1.5;
          word-break: break-word;
          white-space: normal;
          font-size: 16px;
          color: #333;
        }
        &__footer {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin: 8px 0 0;
          &__price {
            font-size: 17px;
            font-weight: 600;
            color: #333;
          }
          &__like {
            font-size: 16px;
            font-weight: 400;
            color: #333;
          }
        }
      }
    }
  }
  &__bottom-box {
    margin-bottom: 40px;
  }
}


.navi {
  background: #f5f5f5;
  position: relative;
  border-top: 1px solid #eee;
  &__box {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    &__list {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      &__link {
        margin-right: 10px;
        color: #333;
        &:hover {
          color: rgba(#333, 0.5);
          text-decoration-line: underline;
        }
      }
      &__link-right {
        margin-left: 10px;
        color: #333;
        font-weight: bold;
      }
    }
  }
}

// 自分が出品した商品に飛んだ時に出現する編集・削除のボックス
// 条件分岐で出現
.item-change {
  margin: 24px auto;
  background: #fff;
  padding: 8px 16px 8px 16px;
  width: 700px;
  &__edit {
    margin: 16px 0 16px 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    text-align: center;
  }
  & p {
    font-size: 16px;
    text-align: center;
  }
  &__stop {
    margin: 16px 0 16px 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    text-align: center;
  }
  &__delete {
    margin: 16px 0 16px 0;
    background: #aaa;
    border: 1px solid #aaa;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    text-align: center;
  }
}



// 以下、アイコン----------------------------------------------
.nice-icon {
  font-size: 18px;
  vertical-align: middle;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.red {
  color: #ef5185;
}
.yellow {
  color: #fba933;
}
.blue {
  color: #6ab5d8;
}

.like-icon {
  font-size: 14px;
  color: rgb(190, 190, 190);
  vertical-align: middle;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.report-icon {
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lock-icon {
  font-size: 14px;
  vertical-align: middle;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.clock-icon {
  vertical-align: middle;
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #aaa;
}

.icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  &__prev {
    left: 0;
  }
  &__next {
    right: 0;
  }
}

.media-icon {
  position: absolute;
  top: 20%;
  left: 25%
}

.heart-icon {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
}