.item {
  width: 700px;
  padding: 24px 40px 40px;
  background: #fff;
  margin: 40px auto 0;
  &__title {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  &__content {
    margin: 16px 0 0;
    &__photo {
      float: left;
      min-width: 300px;
      max-width: 300px;
      min-height: 375px;
      background: red;
    }
    &__table {
      float: right;
      max-width: 300px;
      height: 420px;
      margin: 0 auto;
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      &__tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
      }
      &__tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      &__th {
        width: 39%;
        text-align: left;
        font-weight: 400;
        background: #fafafa;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
      }
      &__td {
        width: 61%;
        background: #fff;
        padding: 8px;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
      }
      &__box {
        &__icon {
          margin: 0;
          display: inline-block;
        }
      }
    }
  }
}