= render 'shared/header'

.main-context
  .slider
    =image_tag "slide-1.png",alt:"image01",href:"#"
    =image_tag "slide-2.jpg",alt:"image02",href:"#"
  .main-context__itemslist
    .main-context__itemslist__text 全ての商品の一覧
    .main-context__itemslist__tagspace
      .main-context__itemslist__tagspace__tag
        -# .main-context__itemslist__tagspace__tag__1 エンジニア
        -# .main-context__itemslist__tagspace__tag__2 人
        -# .main-context__itemslist__tagspace__tag__3 Ruby
        -# .main-context__itemslist__tagspace__tag__4 JS
  .main-context__items
    .main-context__items__item
      .main-context__items__item__text アイテム
      .main-context__items__item__more 
        .main-context__items__item__more__text もっとみる
        =fa_icon "chevron-right",class: 'main-context__items__item__more__icon'     
    .main-context__items__image
      .main-context__items__image__1
        =image_tag"1.jpg",size: "188x188"
      .main-context__items__image__2
        =image_tag"2.jpg",size: "188x188"
      .main-context__items__image__3
        =image_tag"3.png",size: "188x188"
      .main-context__items__image__4
        =image_tag"4.png",size: "188x188"
      .main-context__items__image__5
        =image_tag"5.png",size: "188x188"

= render 'shared/sell-icon'
= render 'shared/aside'
= render 'shared/footer'

