*{
  box-sizing: border-box;
}
// .wrapper{
//   height: 1292px;
//   width: 1024px;
//   background-color: #f5f5f5;

// }
.credit{
  width: 700px;
  margin: 0 auto;
  &__whole__content{
    margin: 0;
    &__headder{
    font-weight: 600;
    font-size: 24px;
    padding: 8px 24px;
    border: 1px solid #f5f5f5;
    text-align: center;
    background-color: #fff;
    }
    &__footer{
    width: 700px;
    height: 308px;
    padding: 64px;
    background-color: #fff;
      &__card-list{
        margin: 0 auto;
        max-width: 320px;
        &__title{
          font-size: 16px;
          font-weight: 600;
          margin: 0 auto;
        }
      }
    
      &__add-card{
        padding: 24px 0;
        border-bottom: 1px solid #eee;

        &__inside{
          max-width: 320px;
          margin: 0 auto; 
        }
      }
      &__warning-note{
        display: block;
        margin: 40px 0 0 ;
        text-align: right;
      }
    }  
  }
}
.red-submit-button{
  margin: 24px auto 0;
  display: block;
  width: 320px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 14px;
  cursor: pointer;
}
.how-to-pay{
  display: block;
  color: #0099e8;
}

.newinfo-content__mono-content__head-edit {
  font-size: 24px;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
}
.field-first-edit {
  width: 343px;
  height: 70px;
  margin: 0px auto;
}
.field-second-edit {
  width: 343px;
  height: 70px;
  margin: 30px auto 0;
}
.field-icon-edit {
  width: 343px;
  margin: 10px auto 0;
}
.credit-submit {
  width: 343px;
  margin: 32px auto 0;
}

.select-wrap-half {
  display: inline-block;
  position: relative;
  width: calc(50% - 2px);
  margin: 8px 0 0;
}

.credit-cards-select {
  width: calc(100% - 38px);
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
}
.option-text {
  margin-left: 10px;
}

.arrow-icon-credit {
  color: gray;
  position: absolute;
  top: 15px;
  right: 48px;
  font-size: 18px;
}