.main-header {
  box-shadow: none;
}

.bread-crumbs {
  height: 49px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background-color: #fff;
  position: relative;
  & ul {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    & li {
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      & a {
        color: #333;
        &:hover {
          text-decoration: underline;
          color: #ccc;
        }
      }
    }
  }
}

.mypage-clearfix {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding-top: 40px;
}
.mypage {
  margin: 0 auto;
  width: 1020px;
  display: flex;
    &__side-bar {
      width: 280px;
      float: left;
      margin: 0 40px 40px 0;
      &__list-item {
        display: block;
        padding: 16px;
        background-color: #fff;
        font-size: 14px;
        color: #333;
        border-top: 1px solid #eee;
        text-decoration: none;
        &.current {
          color: #333;
          font-weight: bold;
        }
        &:hover {
          background-color: #eee;
          .fa-angle-right {
            color: #333;
            transform: translate(50%, 0);
            transition: all ease-out .2s;
          }
        }
      }
    }

    &__main {
      width: 700px;
      float: right;
      &__user {
        height: 200px;
        padding: 20px;
        background: image-url("user-bg.jpg");
        text-align: center;
        &__icon {
          text-decoration: none;
          color: #333;
        }
      }
      &__notice-todo__tab {
        height: 74px;
        background-color: #eee;
        text-align: center;
        line-height: 74px;
        cursor: pointer;
          & li.active {
            background-color: #fff;
            width: 50%;
            border-top: 2px solid #ea352d;
          }
          & li {
            float: left;
            width: 50%;
          }
          &__single {
            font-size: 16px;
            font-weight: bold;
          }
          &__content {
            background-color: #fff;
            display: block;
            & li.show {
              display: block;
            }
            & li {
              display: none;
            }
            &__logo {
              background: image-url("logo-gray-icon.svg");
              background-repeat: no-repeat;
              background-position: center 40px;
              background-size: 78px 85px;
              text-align: center;
              font-size: 16px;
              padding: 160px 0 60px;
              color: #ccc;
              font-weight: bold;
            }
          }
        }
      &__item {
        margin: 40px 0 0;
        background-color: #fff;
        &__head {
          padding: 0 16px;
          background-color: #fafafa;
          font-size: 16px;
          font-weight: bold;
          line-height: 72px;
          height: 72px;
        }
        &__tab {
          height: 74px;
          background-color: #eee;
          text-align: center;
          line-height: 74px;
          cursor: pointer;
          & li.actives {
            background-color: #fff;
            width: 50%;
            border-top: 2px solid #ea352d;
          }
          & li {
            float: left;
            width: 50%;
          }
          &__single {
            font-size: 16px;
            font-weight: bold;
          }
          &__content {
            background-color: #fff;
            display: block;
            & li.shows {
              display: block;
            }
            & li {
              display: none;
            }
            &__logo {
              background: image-url("logo-gray-icon.svg");
              background-repeat: no-repeat;
              background-position: center 40px;
              background-size: 78px 85px;
              text-align: center;
              font-size: 16px;
              padding: 160px 0 60px;
              color: #ccc;
              font-weight: bold;
            }
          }
        }
      }
    }
}

.user-info {
  margin: 8px 0 0;
  text-align: center;
  font-size: 14px;
  &__like {
    display: inline-block;
    & span {
      margin: 0 0 0 8px;
      font-weight: bold;
    }
  }
  &__item {
    display: inline-block;
    margin: 0 0 0 16px;
    & span {
      margin: 0 0 0 8px;
      font-weight: bold;
    }
  }
}

.mini-icon {
  float: left;
}

.user-name {
  font-weight: bold;
  font-size: 14px;
  margin: 8px 0 0;
  &:hover {
    text-decoration: underline;
  }
}

.user-icon {
  border-radius: 50%;
  margin-top: 15px;
}

.mypage__side-bar__head {
  margin: 40px 0 0;
  font-size: 16px;
  font-weight: bold;
}

.fa-angle-right {
  color: #ccc;
  font-size: 20px;
  font-weight: bold;
}