.newinfo-content{
  padding: 0 0 220px;
  &__mono-header{
    display: block;
    height: 128px;
    text-align: center;
    &__logo{
      margin: 40px 0 0;
      width: 185px;
      height: 49px;
      line-height: 49px;
    }
    &__situation{
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      &__bar{
        width: 508px;
        height: 32px;
        display:flex ;
        &__info{
          width: 60px;
          height: 32px;
          margin: 0 40px 0 0;
          font-weight: 600;
          color: #ea352d;
          position: relative;
          display: inline-block;
          &__text{
            font-size: 12px;
          }
          &__dot{
            position: absolute;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ea352d;
            border-radius: 50%;
            z-index: 40;
            left: 25px;
          }
          &__line{
            position: absolute;
            left: 50%;
            top: 26px;
            bottom: 5px;
            display: block;
            width: 130px;
            height: 2px;
            background: #ccc;
            z-index: 30;
          }
        }
        &__tel{
          height: 32px;
          margin: 0 40px 0 0;
          position: relative;
          &__text{
            font-size: 12px;
            white-space: nowrap;
            color: #888;
          }
          &__dot{
            position: absolute;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
            z-index: 40;
            left: 25px;
          }
          &__line{
            position: absolute;
            left: 50%;
            top: 26px;
            bottom: 5px;
            display: block;
            width: 130px;
            height: 2px;
            background: #ccc;
            z-index: 30;
          }
        }
        &__address{
          height: 32px;
          margin: 0 40px 0 0;
          position: relative;
          &__text{
            font-size: 12px;
            white-space: nowrap;
            color: #888;
          }
          &__dot{
            position: absolute;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
            z-index: 40;
            left: 25px;
          }
          &__line{
            position: absolute;
            left: 50%;
            top: 26px;
            bottom: 5px;
            display: block;
            width: 130px;
            height: 2px;
            background: #ccc;
            z-index: 30;
          }
        }
        &__pay{
          width: 60px;
          height: 32px;
          margin: 0 40px 0 0;
          position: relative;
          &__text{
            font-size: 12px;
            white-space: nowrap;
            color: #888;
          }
          &__dot{
            position: absolute;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
            z-index: 40;
            left: 25px;
          }
          &__line{
            position: absolute;
            left: 50%;
            top: 26px;
            bottom: 5px;
            display: block;
            width: 100px;
            height: 2px;
            background: #ccc;
            z-index: 30;
          }
        }
        &__finished{
          width: 60px;
          height: 32px;
          position: relative;
          &__text{
            font-size: 12px;
            white-space: nowrap;
            color: #888;
          }
          &__dot{
            position: absolute;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
            z-index: 40;
            left: 25px;
          }

        }
      }
    }
  }
  &__mono-content{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__head{
      height: 97px; 
      padding: 38px 32px 28px 32px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      display: block;
    }
    &__space{
      padding: 40px 40px 64px;
    }
  }
}
.a-footer{
  width: 456px;
  margin: 0 auto;
  &__content{
  position: absolute;
  margin: 0px auto;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
    &__privacy{
      margin: 0 auto;
      display: flex;
      font-size: 12px;
      justify-content: center;
      &__text1{
      }
      &__text2{
        margin: 0 0 0 16px;
      }
      &__text3{
        margin: 0 0 0 16px;
      }    
    }
    &__logo{
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
    }
    &__text{
      margin: 8px 0 0;
      font-size: 12px;
    }
  }
}

.required-icon {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  font-weight: normal;
}
.field{
  width: 343px;
  height: 70px;
  margin: 0px auto ;
  margin-top: 32px;
}

.loginfield{
  width: auto;
  height: 70px;
  margin: 0px auto ;
  margin-top: 32px;
}

.field-first{
  width: 343px;
  height: 70px;
  margin: 0px auto ;
}
label{
  text-align: left;
  font-weight: 600;
}
.input{
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.notice-head{
  font-size: 16px;
  font-weight: bold;
}
.notice-text{
  margin: 8px 0 0;
}

.name-notice-text{
  margin: 8px 0 0;
  color: #888;
}

.nameinput{
  width: calc(50% - 6px);
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.next{
  width: 343px;
  height: 70px;
  margin: 0px auto ;
}
.next-btn{
  color: #fff;
  width: 343px;
  line-height: 48px;
  margin: 0px auto ;
  background-color: #ea352d;
}