.display_item_image {
  display: inline-block;
  max-width: 64px;
  max-height: 64px;
}
.word{
  display: inline-block;
  width: calc(100% - 64px);
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}
.content{
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
  &__inner{
    max-width: 320px;
    margin: 0 auto;
    flex-wrap: wrap;
    &__point{
      padding: 16px;
      border: 1px solid #ccc;
      text-align: center;
      background-color: #ccc;
    }

    
    &__price{
      font-size: 22px;
      margin-top: 8px;
      line-height: 1.5;
      text-align: center;
    }
    &__top{
      max-width: 320px;
      margin: 0 auto;
      display: flex;
      &__text {
      font-weight: 600;
      }
    }
  }
}
.item-shipping-fee{
  font-size: 14px;
}
.change{
  color: #0099e8;
  display: block;
  text-align: right;
}

.pay{
  width: 100%;
  display: table;
  justify-content:space-between;
  &__payment{
    display: table-cell;
    padding: 16px;
    font-size: 18px;
    &__right{
      text-align: right;
    }
  }
}
.price{
  font-size: 22px;
  text-align: right;
}
.error{
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
}
.payment-btn{
  border: 1px solid #888;
  background: #888;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
