.header {
  width: 100%;
  height: 100px;
  background-color: red;
}

.bread-crumbs {
  height: 50px;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  &__list {
    text-decoration: none;
    color: #333;
  }
  & ul {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
  }
  & li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
}

.mypage-clearfix {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  padding-top: 40px;
}
.mypage {
  margin: 0 auto;
  width: 1020px;
  display: flex;
    &__side-bar {
      width: 280px;
      float: left;
      margin: 0 40px 40px 0;
      &__list-item {
        display: block;
        padding: 16px;
        background-color: #fff;
        font-size: 14px;
        color: #333;
        border-bottom:2px solid whitesmoke;
        text-decoration: none;
        &:hover {
          background-color: #eee;
        }
      }
    }
      &__main {
      width: 700px;
      height: 1189px;
      background-color: pink;
      float: right;
      &__user {
        width: 700px;
        height: 605px;
        background-color: blue
      }
      &__item {
      width: 700px;
      height: 382px;
      background-color: peru;
      }
    }
}

.mypage__side-bar__head {
  margin: 40px 0 0;
  font-size: 16px;
}

.fa-angle-right {
  color: #ccc;
}

.footer {
  width: 100%;
  height: 651px;
  background-color: green;
}