body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
a {
  text-decoration: none;
}
@import 'font-awesome';
@import "reset";
@import "./display_items/new";
@import "items";
@import "slick-theme"; 
@import "slick";
@import "mypages";
@import "user_nicknames";
@import "user_profile";
@import "user_profile-edit";
@import "users";
@import "logout";
@import "newinfo";
@import "new";
@import "newphone";